ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

ul li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color: #111111;
}

ul li a:active{
    background-color: #AD27F5;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}


body {
    
    margin: 0;
    min-height: 100vh;

    background: radial-gradient(circle at 50% 50%,
        #f3e8ff 0%,
        #d8b4fe 30%,
        #c084fc 55%,
        #9333ea 80%,
        #3b0764 100%);

    background-size: 200% 200%;
    animation: glowMove 8s ease-in-out infinite alternate;
}
@keyframes glowMove {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}





.facesm {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.imgbox {
    display: flex;
    align-items: center;
    gap: 50px;
}


.smthing {
    width: 300px;
    height: 350px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(192, 132, 252, 0.7);
}

.smthing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hether {
    max-width: 400px;
    color: white;
}

.hether h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.hether p {
    font-size: 18px;
    line-height: 1.6;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-shadow:
        1px 1px 2px black,
        0 0 25px #c084fc,
        0 0 5px #9333ea;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    color: white;
    text-shadow:
        1px 1px 2px black,
        0 0 25px #c084fc,
        0 0 5px #9333ea;
}

.glowy {
    color: white;
    text-align: center;
    text-shadow:
        0 0 10px #e9d5ff,
        0 0 20px #c084fc,
        0 0 40px #9333ea;
}
