nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 52px;
    z-index: 10;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

ul li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color: #111111;
}

ul li a:active{
    background-color: #AD27F5;
}

body {
    
    margin: 0;
    min-height: 100vh;

    background: radial-gradient(circle at 50% 50%,
        #f3e8ff 0%,
        #d8b4fe 30%,
        #c084fc 55%,
        #9333ea 80%,
        #3b0764 100%);

    background-size: 200% 200%;
    animation: glowMove 8s ease-in-out infinite alternate;
}
@keyframes glowMove {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}


.page_content {
    margin-top: 70px;
    text-align: center;
}


.glowy {
    color: white;
    text-shadow:
        0 0 10px #e9d5ff,
        0 0 20px #c084fc,
        0 0 40px #9333ea;
}


.certificate-gallery {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.certificate-gallery img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(192, 132, 252, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(192, 132, 252, 0.9);
}